h1 {
  background-color: teal;
  color: white;
  text-align: center;
}
label {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
.card {
  margin: 10px;
}
.historyRowBtn {
  margin-top: 12px;
  margin-bottom: 12px;
}
/* .column1 {
  background-color: black;
} */
/* .column2 {
  background-color: rgb(red, green, blue); */
/* } */
.green {
  background-color: greenyellow;
}
.orange {
  background-color: orange;
}
.purple {
  background-color: purple;
}
.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
}
.cardTodayDate {
  font-size: 20px;
}
.icons {
  width: 60px;
  height: 60px;
}
