h1 {
  background-color: rosybrown;
  color: darkolivegreen;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
label {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}
